<nav class="site-navigation">
    <h4>Gulp Nunjucks Starter</h4>
    <ul>
        <li class=""><a href="/">Home</a></li>
        <li class="{{ typographyActive }}"><a href="/typography">Typography</a></li>
        <li class="{{ utilitiesActive }}"><a href="/utilities">Utilities</a></li>
        <li class="{{ workflowActive }}"><a href="/workflow">Workflow</a></li>
    </ul>
</nav>