{% extends "layout.njk" %}
{% set workflowActive = 'active' %}
{% block content %}

<div class="spacing-type">
    <h1>Worfklow</h1>
    <p>Below is an index of all of the text styles provided with this kit.
</div>
<hr style="border-style: dotted;" />

{% endblock %}