// utility SCSS goes in here. Classes that are helpers.

// space utilities. Applies space tokens to all children. Should be used on containers
.space-1 {
    &>* {
        margin-bottom: var(--space-1);

        &:last-child {
            margin-bottom: 0;
        }
    }

}

.space-2 {
    &>* {
        margin-bottom: var(--space-2);

        &:last-child {
            margin-bottom: 0;
        }
    }


}

.space-3 {
    &>* {
        margin-bottom: var(--space-3);

        &:last-child {
            margin-bottom: 0;
        }
    }


}

.space-4 {
    &>* {
        margin-bottom: var(--space-4);

        &:last-child {
            margin-bottom: 0;
        }
    }


}

.space-5 {
    &>* {
        margin-bottom: var(--space-5);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// a utility class that defines the default spacing between major layout elements.
.spacing-layout {
    @extend .space-4;
}

// a utility class that defines the default spacing between type elements.
.spacing-type {
    @extend .space-2;
}